
/**
 * @file
 * Base stylesheet for the Event module.
 */

.event {
  overflow: hidden;
}
.event .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
.event .bar .foreground {
  background-color: #000;
  height: 1em;
  float: left; /* LTR */
}
